<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title T-GAME HOME
        link(rel="stylesheet", href="/css/home.css")
    body
        .box
            .box__one
                span T-GAME
            .box__two
                span 게임 입니다.
            .box__three
                form(action="/game",method="get")
                    input(type="submit", value="GAME START")